@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.body {
    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: 50px 50px auto 50px;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: aqua;
}

.header h1 {
    text-align: center;
}

.aside {
    grid-area: aside;
    background-color: blueviolet;
}

.nav {
    grid-area: nav;
    background-color: brown;
}

.menu-button i {
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.main {
    grid-area: main;
    background-color: blue;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 70%;
    height: 80%;
}

.card a {
    text-decoration: none;
    background-color: #3498db;
    border: 1px solid #f7f7f7;
    padding: 8px 200px;
    color: #fff;
    border-radius: 50px;
}

.footer {
    grid-area: footer;
    background-color: orange;
}

.footer p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.grid-container {
    display: grid;
    scroll-behavior: smooth;
    grid-template-columns: repeat(1, 1fr);
    /* Crea 3 columnas de igual tamaño */
    grid-template-rows: repeat(4, 350px);
    /* Crea 3 filas de altura fija de 100px */
    gap: 10px;
    /* Espacio entre las celdas */
}

.item {
    display: flex;
    background-color: #3498db;
    color: #fff;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

@media (min-width: 600px) {
    .body {
        grid-template-columns: 100% auto;
        grid-template-rows: 50px 50px auto 50px;
        grid-template-areas:
            "header header"
            "aside aside"
            "main main"
            "footer footer";
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Crea 3 columnas de igual tamaño */
        grid-template-rows: repeat(2, 242px);
        /* Crea 3 filas de altura fija de 100px */
        gap: 5px;
        /* Espacio entre las celdas */
        margin: 5px;
    }

    .nav ul li {
        display: inline-block;
        padding: 15px;

    }

    .nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 50%;
        height: 70%;
    }

    .card a {
        text-decoration: none;
        background-color: #3498db;
        border: 1px solid #f7f7f7;
        padding: 8px 200px;
        color: #fff;
        border-radius: 50px;
    }

}

@media (min-width: 1281px) {
    .body {
        grid-template-columns: 200px auto;
        grid-template-rows: 9% 95% 10%;
        grid-template-areas:
            "header header header"
            "aside main main "
            "footer footer footer";
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Crea 3 columnas de igual tamaño */
        grid-template-rows: repeat(2, 250px);
        /* Crea 3 filas de altura fija de 100px */
        gap: 5px;
        /* Espacio entre las celdas */
        margin: 15px 15px 0 15px;
    }

    .nav ul li {
        display: flex;
    }

    .nav ul li a {
        flex-direction: column;
        padding: 15px 20px;
        text-decoration: none;
        color: #fff;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 70%;
        height: 80%;
    }

    .card a {
        text-decoration: none;
        background-color: #3498db;
        border: 1px solid #f7f7f7;
        padding: 8px 100px;
        color: #fff;
        border-radius: 50px;
    }
    .menu-button {
        display: none;
      }

}